@model List<PhoneBook_24.BusinessLogic.Models.Contact>

@{
    ViewBag.Title = "Contact book";
}

<script type="text/javascript">   
    function HelloWorld() {
        alert('Hello');
        document.getElementById("tdHw").value = "test";
      
    }
    </script>
<h2>Contacts</h2>
<input type="button" value="HW" onclick="HelloWorld() /">
<input type="text" id="tdHw">
<hr />

@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <td></td>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Phones</td>

        </tr>


        @foreach (var contact in Model)
        {
            <tr>
                <td>@Html.ActionLink("Update", "Update", "Contacts", new { id = contact.Id, email = contact.Email },null)</td>
                <td>@contact.Id</td>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
             

                <td>@Html.ActionLink("Phones", "ContactPhones", "Contacts",new { id = contact.Id},null)</td>
               
            </tr>
        }

    </table>
}

<hr />

@Html.ActionLink("Add", "Add", "Contacts")
